<div id="voice-selection">
<%= button_tag 'kick 1', id: :select_kick1 %>
<%= button_tag 'kick 2', id: :select_kick2 %>
<%= button_tag 'snare 1', id: :select_snare1 %>
<%= button_tag 'snare 2', id: :select_snare2 %>
<%= button_tag 'hi hat 1', id: :select_hihat1 %>
<%= button_tag 'hi hat 2', id: :select_hihat2 %>
</div>